// Colors
$green: #3aad91;
$blue: #2989c6;
$grey: #414141;
$orange: #fb6733;
$red: #d33847;
$grey: #4c5e65;
$white: #fff;

// Helpers
@mixin clear-fix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  .lte7 & {
    zoom: 1;
  }
}

// Base Layout Styles

html,
body {
  font-family: "Open Sans", Helvetica, arial;
  font-size: 16px;
  line-height: 1.36;
  max-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;
  }
}

.container {
  margin: 20px auto;
  max-width: 400px;
  width: 100%;
}
.container-div {
  text-align: center;
}
// Buttons

.btn {
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 12px;
  text-align: center;

  &.-default {
    background-color: #fff;
    border: 1px solid #ddd;
    color: $grey;

    &:hover {
      background-color: #eee;
    }
  }

  &.-primary {
    background-color: $blue;
    border: 1px solid $blue;

    &:hover {
      background-color: darken($blue, 5%);
    }
  }
}
// Links

.link {
  text-decoration: none;

  &.-primary {
    color: $blue;
  }
}
// Progress
.progress {
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.progress-step {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

// Alignments

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// Forms

.form-fields {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin-bottom: 20px;
  }
}

.form-footer {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
}

label {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;

  .checkbox &,
  .radio & {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 1px 12px 1px 30px;
    position: relative;

    input {
      left: 0;
      position: absolute;
      top: 0;
    }
  }
}

input {
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

select {
  font-size: 16px;
  padding: 8px;
}

// tooltip

.tooltip {
  position: relative;
  display: inline-block;
  top: -5px;
  font-size: 12px;
  color: $grey;
  left: 5px;
  .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    background-color: $green;
    color: $white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 10px;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $green transparent transparent transparent;
    }
  }
  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
